<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <!-- Test-only import scheme. Never put bearer subscriptions through it. -->
        <activity android:name=".AppActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="apollorga" />
                <data android:host="add" />
                <data android:host="import" />
            </intent-filter>
        </activity>
        <receiver
            android:name=".DebugVpnControlReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="tech.gatealtas.rga.debug.DEBUG_START_VPN" />
                <action android:name="tech.gatealtas.rga.debug.DEBUG_STOP_VPN" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
